<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">FLICK ZEE</a>
    
    <div class="collapse navbar-collapse" id="navbarColor02">
      <form class="form-inline my-2 my-lg-0" (ngSubmit)="onSubmit()">
        <ng-autocomplete 
          placeholder="Search"
          [data]="Data"
          [searchKeyword]="keyword"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
          [(ngModel)]="id"
          (selected)="onSelection($event)"
          name="id"
          type="text"
         >                           
        </ng-autocomplete>
      
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" style="margin-left: 10px;">Search</button>
      </form>
    </div>
</nav>

<ng-template #itemTemplate let-item>
  <a class="lead" [innerHTML]="item.title"></a>
</ng-template>
     
<ng-template #notFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
 </ng-template>